header{
    background-color: rgb(234, 234, 161);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
nav ul{
    display: flex; gap: 20px;
    margin-right: 30px;
}
nav ul li{
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.gf{
    max-width: 220px;
    width: 100%;
    height: 24px; margin-left: 40px;
}
.ofc{
   padding-bottom: 70px;
    
    background-color: rgb(234, 234, 161);
}
.section__div{
    max-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
}
.images{
    background-image: url(./Rectangle\ 679\ \(1\).svg);
    max-width: 600px;
    width: 100%;
    height: 340px; position: relative;
}
.faf{
    display: flex;
    justify-content: space-around;
    margin-top: 100px; 
}
.yuva{
    position: absolute;
    top: -70px;
    left: -60px;
}
.cd{
    max-width: 370px; width: 100%;
    height: 360px;
}
.our{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.thesecond{
    padding-top: 130px;
    display: flex;
   justify-content: space-around;
   padding-bottom: 140px;
}
.third__div{
    max-width: 620px;
    width: 100%;
    display: flex;
flex-direction: column;
gap: 40px;
margin-top: 150px; color: aliceblue;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thethird{
    display: flex;
    justify-content: space-around;
    background-color: rgb(192, 94, 94);
    position: relative;
}
.yufa{
    max-width: 550px;
    width: 100%;
    height: 550px;
}
.data{
    display: flex; gap: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.somemore{
    display: flex;
    gap: 10px;
}
footer{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px; background-color: rgb(240, 169, 169);
}
@media screen and (max-width:1060px) {
    .images{
        max-width: 450px;
        width: 100%;
        height: 260px;
    }
    .yuva{
        max-width: 130px;
        width: 100%;
        height: 130px;
    }
    .gf{
        max-width: 150px;
        width: 100%;
        height: 16px;
    }
    .cd{
        max-width: 300px; width: 100%;
        height: 290px;
    }
    .our{
        max-width: 490px;
        width: 100%;
    }
    .third__div{
        max-width: 560px;
        width: 100%;
    }
    .yufa{
        max-width: 400px;
        width: 100%; height: 400px;
    }
}
@media screen and (max-width:810px) {
    .section__div{
        max-width: 260px;
        width: 100%;
    }
    .images{
        max-width: 360px;
        width: 100%;
        height: 200px;
        margin-top: 80px;
    }
.thesecond{
    flex-wrap: wrap;
    gap: 100px;
}
.thethird{
    flex-wrap: wrap;
    gap: 50px;
}
}
@media screen and (max-width:650px) {
    .faf{
        flex-wrap: wrap; gap: 50px;
    }
    footer{
        flex-wrap: wrap;
        gap: 50px;
    }
}